.result {
  margin-top: 20px;
  border-radius: 10px;
}

.options {
  cursor: pointer;
  border: 2px solid #8A8A8A;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}

.selected {
  background: linear-gradient(to right, #74ebd5, #acb6e5) !important;
}

ul {
  list-style-type: none;
}